# backup and log files and compiled sources
*.*~
*.log
*.swp
*.table
errors/*
databases/*
sessions/*
cache/*
static/temp
progress.log
__pycache__/*
*.pyc
*.pyo
*.1
*.bak
*.bak2
*.svn
*.w2p
*.class
*.rej
*.orig
Thumbs.db
.DS_Store
index.yaml
routes.py
logging.conf
httpserver.log
httpserver.pid
parameters*.py
cron.master
HOWTO-web2py-devel
*.sublime-project
*.sublime-workspace
.idea/*